body{
margin: 0;
padding: 0;
background-color: whitesmoke;
}

h1{
background-color: #3D2412;
color: white;
text-align: center;
padding: 20px;
margin: 0;
margin-bottom: 20px;
}

li{
    color: #3D2412;
    font-size: 18px;
}

.conteudo
{
margin: 20px auto;
padding: 30px;
max-width: 500px;

background-color: rgb(236, 223, 202);
border-radius: 12px;
box-shadow: 0 10px 10px gray;
}


h3
{
    color: #3D2412;
    font-size: 25px;
    text-align: center;
}

.conteudo ul
{
padding-left: 20px;
}

.conteudo li
{
    margin: 6px 0;
}

.conteudo a
{
color: brown;
text-decoration: none;
font-weight: 500;
}


.conteudo a:hover
{
    text-decoration: underline;
}

.conteudo img
{
width: 100%;
border-radius: 10px;
margin-bottom: 20px;
object-fit: cover;
}

.conteudo p{
font-size: 16px;
line-height: 1.6;
color: rgb(34, 26, 26);
text-align: justify;
}
